body {
    background-color: #21272c;
}

header, footer {
	color: white;

	font-weight: bold;
    padding: 1em;
    clear: left;
    text-align: center;
}

.topMenuBar {
	background-color: #009900;
	height: 80px;
	margin-bottom: 20px;
}

#tbx_search {
	color: black;
}

#title {
	color: white;
	font-size: 36px;
	font-weight: 500;
	padding: 10px;
	float: left;
}

#loadBar {
    width: 100%;
    height: 20px;
    background-color: #d9ba8c;
}   

#loadFill {
    background-color: #ff9900;
    width: 0%;
    height: 20px;
}

#login {
	padding: 23px;
	display: none;
	float: right;
}

#userDetails {
    float: right;
    display: none;
}

#userPanel {
    background-color: #0f570f;
    border-radius: 40px 0px 0px 40px;
}

#userPanel-content { 
    display: none;
    width : 400px;
    height: 100%;
    float: right;
    color: white;
    font-size: 18px;
}

#userDetails-img {
  height: 80px;
  width: 80px;
  border-radius: 40px;
}

.screenLeft {
	background-color: #006699;
	color: white;
    margin-right: 15px;
    margin-left: 15px;
    float: left;
    width: 76%;
}

.song_table {
    background-color: #d3d9de;
    margin-top: 15px;
    width: 100%;
}

#search_list,
#song_list { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

#search_list li,
#song_list li {
    padding-top: 5px;
    padding-left: 5px;
    white-space: nowrap;
    height: auto;
}

.song_album_art { height: 60px; width: 60px; display: inline-block; vertical-align: top;}
.song_group     { width: auto; margin-left: 15px; overflow: hidden; display: inline-block;}
.song_name      { color: #000000; float: left; width: inherit; overflow: hidden; white-space: nowrap; word-wrap: break-word}
.song_artist
.song_album     { color: #424e57; width: auto; clear:both; overflow: hidden; white-space: nowrap; word-wrap: break-word}

.song_album_art:hover { 
    filter: saturate(8);
}

.screenRight {
    margin-right: 15px;
    float: right;
    width: 20%;
    height: 100%;
}

#searchBar { 
    display: none; 
    background-color: #d3d9de;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
}

#tbx_search { 
    width: 100%; 
}

.btn_search { 
    width: 100%; 
    background-color: #ff9900;
    border-color: #cc7a00;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
}

.btn_search:hover {
    background-color: #cc7a00;
}

.twitterFeed {
	background-color: #d3d9de;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

