body {
    background-color: #21272c;
}

header, footer {
	color: white;

	font-weight: bold;
    padding: 1em;
    clear: left;
    text-align: center;
}

.topMenuBar {
	background-color: #009900;
	height: 80px;
	margin-bottom: 20px;
}

#tbx_search {
	color: black;
}

#title {
	color: white;
	font-size: 36px;
	font-weight: 500;
	padding: 10px;
	float: left;
}

#login{
	padding: 23px;
	display: none;
	float: right;
}

#loggedin {
	display: none;
}

.container {
	background-color: #006699;
	color: white;
    margin-right: 15px;
    margin-left: 15px;
    float: left;
    width: 76%;
}

.twitterFeed {
	background-color: #d3d9de;
	margin-right: 15px;
    float: right;
    width: 20%;
    height: 100%;
}

.song_table {
    background-color: #d3d9de;
    margin-top: 15px;
    margin-left: 15px;
    float: left;
    width: 76%;
}

#song_list { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

#song_list li {
    padding: 40px; 
}

.song_album_art { height: 60px; width: 60px; float: left;}
.song_group		{ width: auto; float: left; margin-left: 15px;}
.song_name		{ color: #000000; float: left; width: inherit;}
.song_album 	{ color: #424e57; width: auto; clear:both;}

      
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

